body {
  padding: 0;
  margin: 0;
  font-size: 80%;
}
.header {
  text-align: center;
  border-bottom: 4px solid #cccccc;
  border-top: 6px solid #cccccc;
  padding-top: 0;
  position: absolute;
  top: 0;
  margin-left: 10px;
}
.logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 3px;
}

.my-info {
  font-family: 'Passion One', cursive, sans-serif;
  color: rgba(0,0,0,.8);
}

#my-name {
  margin: 2px 0px;
}

#my-profession {
  margin: 0px;
}

.main-story {
  text-align: center;
  /* border-bottom: 3px solid #cccccc; */
  padding-bottom: 10px;
}

.main-story img {
  width: 100%;
}

.feature-story {
  text-align: center;
}

.feature-story img {
  width: 100%;
  border: 2px inset #cccccc;
  box-sizing: border-box;
}

.feature-title {
  text-align: center;
}

.sub-story {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
}

.work-title {
  margin-bottom: 0;
  padding-bottom: 2px;
}
