body {
  font-family: helvetica, sans-serif;
  margin: 0 0 20px 0;
  padding: 0;
  color: #969696;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.logo,
.my-info {
  float: left;
  font-family: "Passion One", cursive, sans-serif;
}

.logo {
  width: 30%;
  padding: 15px 0 10px 0;
}

.logo-image {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 80px;
  height: 80px;
}

#my-name {
  margin-bottom: 0;
  font-weight: lighter;
  letter-spacing: .2em;
}

#my-profession {
  margin-top: 0.3em;
  letter-spacing: .1em;
}

.my-info {
  text-align: right;
  width: 70%;
}

.main-story-image {
  width: 100%;
}

.feature-title {
  width: 100%;
}

.feature-story {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.sub-story {
  width: 30%;
}

.sub-story-image {
  width: 100%;
  max-height: 100%;
  border: 4px inset #cccccc;
  box-sizing: border-box;
}

.work-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #34495E;
  text-align: center;
  margin-bottom: 0;
}

.work-description {
  text-align: center;
}
