body {
  font-family: helvetica, sans-serif;
  margin: 0px 0px 20px 0px;
  padding: 0;
  color: #969696;
}
.wrapper {
  max-width: 800px;
  margin: 0 auto;
}
.logo, .my-info {
  float: left;
  /* outline: 1px solid lightsalmon; */
}
.logo {
  width: 30%;
  padding: 15px 0px 10px 0px;
}
.logo img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 80px;
  height: 80px;
}
#my-name {
  margin-bottom: 0px;
  font-weight: lighter;
  letter-spacing: .2em;
}
#my-profession {
  margin-top: 0.3em;
  letter-spacing: .1em;
}
.my-info {
  text-align: right;
  width: 70%;
}

.main-story img {
  width: 800px;
  height: 300px;
}
.feature-title {
  width: 100%;
}
.feature-story {
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  /* flex-flow is the shorthand for */
  /* flex-direction and flex-wrap */
  flex-flow: row wrap;
  justify-content: space-between;
}
.sub-story p {
  text-align: center;
  margin-bottom: 0px;
}

.sub-story img {
  width: 250px;
  height: 200px;
}


.work-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #34495E;
}
.work-link {
  margin-top: 10px;
  font-size: 0.6em;
}
.work-link a {
  text-decoration: none;
  color: inherit;
}
